{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'partials/_head_configs.html' %} 
    <link rel="stylesheet" href="{% static 'home_styles/style.css'%}">
</head>
<body>
  
  {% include 'partials/_sidebar.html' %}

  <div id="main-content">
    {% include 'partials/_header.html' %}
    
    <div class="search-container">
      <input type="search" placeholder="Search">
      {%if user.is_authenticated %}
        <a href="{% url 'createNewStockMonitor' %}">
          <button class="home-button">+ Adicionar nova ação</button>
        </a>
      {% endif %}
    </div>
    <div id="table-wrapper">
      <table class="responsive-table">
        <thead>
        <tr>
          <th>Ativo</th>
          <th>Último preço (R$)</th>
          <th>Preço abertura (R$)</th>
          <th>Maior preço (R$)</th>
          <th>Menor preço (R$)</th>
          <th>Tipo de limite</th>
          <th>Limite superior</th>
          <th>Limite inferior</th>
          <th>Tempo de atualização</th>
          <th class="icon-column"></th>          
        </tr>
        </thead>
        <tbody>
          {% if user.is_authenticated and stockInfo.0.error != "error" %}
            {% for stock in stockInfo%}
                <tr>
                    <td data-label="Ativo">{{stock.symbol}}</td>
                    <td data-label="Último preço" id="ultimo-preco-{{stock.name}}">{{stock.close_price}}</td>
                    <td data-label="Preço abertura"  id="preco-abertura-{{stock.name}}" >{{stock.open_price}}</td>
                    <td data-label="Maior preço" id="maior-preco-{{stock.name}}">{{stock.highest_price}}</td>
                    <td data-label="Menor preço" id="menor-preco-{{stock.name}}">{{stock.lowest_price}}</td>
                    <td data-label="Tipo de limite">{{stock.typeOfLimit}} 
                    {% if stock.typeOfLimit == 'dinamic' %}
                    - método preço base: {{stock.basePrice}}
                    {% endif %}
                    </td>
                    {% if stock.typeOfLimit == 'static' %}
                    <td data-label="Limite Superior (em Reais)">R${{stock.upperLimitStatic}}</td>
                    <td data-label="Limite Inferior (em Reais)">R${{stock.lowerLimitStatic}}</td>
                    {% else %}
                    <td data-label="Limite Superior">{{stock.upperLimitDinamic}}%</td>
                    <td data-label="Limite Inferior">{{stock.lowerLimitDinamic}}%</td>
                    {% endif %}
                    <td data-label="Tempo de atualização">{{stock.interval}}</td>
                    <td class="icon-column"><a href="{% url 'deleteStockMonitor' stock.id %}"class="ion-icon-link"><ion-icon name="trash-outline"></ion-icon></a></td>
                </tr>
            {% endfor %}
            {% else %}
              <tr>
                  <td data-label="Ativo">Example</td>
                  <td data-label="Último preço">999</td>
                  <td data-label="Preço Abertura">999</td>
                  <td data-label="Maior Preço">999</td>
                  <td data-label="Menor Preço">999</td>
                  <td data-label="Modo de Analise">999</td>
                  <td data-label="Limite Sueprior">999</td>
                  <td data-label="Limite Inferior">999</td>
                  <td data-label="Tempo de atualizacao">999</td>
                  <td class="icon-column"><ion-icon name="trash-outline"></ion-icon></td>
              </tr>
            {% endif %}
        </tbody>
      </table>
      {% if stockInfo|length == 0 and user.is_authenticated%}
        <p>No stock added</p>
        {{stockInfo}}
      {% endif %}
      {% if stockInfo.0.error %}
        <p>Limite diário da api atingido. A informação não será processada.</p>
      {% endif %}
    </div>
  </div>
  {% include 'partials/_warning_modal.html' %}
</body>
{% if user.is_authenticated %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function updateStock(acaoId, intervalo, stockName) {
      $.ajax({
          url:`http://127.0.0.1:8000/updateStockInfo/${acaoId}`,
          type: 'GET',
          success: function(data) {
            console.log("Entrei na funcao update stock")
              // Manipulating DOM
              $(`#ultimo-preco-${stockName}`).text(`${data.close_price}`);
              $(`#preco-abertura-${stockName}`).text(`${data.open_price}`);
              $(`#maior-preco-${stockName}`).text(`${data.highest_price}`);
              $(`#menor-preco-${stockName}`).text(`${data.lowest_price}`);
              // Defer update
              let numberInterval;
              if(intervalo == "1min"){
                numberInterval = 1
              }
              else if(intervalo == "5min"){
                numberInterval = 5
              }
              else if(intervalo == "15min"){
                numberInterval = 15
              }
              else if(intervalo == "30min"){
                numberInterval = 30
              }
              else if(intervalo == "60min"){
                numberInterval = 60
              }
              
              setTimeout(function(){updateStock(acaoId, intervalo,stockName)}, numberInterval * 60000);
          },
          error: function() {
              console.error(`Erro ao buscar dados da ação ${acaoId}`);
              // Reagenda tentativa após um fallback de intervalo, por exemplo, 60 segundos
              setTimeout(function() {updateStock(acaoId, intervalo,stockName)}, 60000);
          }
      });
  }

  function inicializeUpdate() {
      $.ajax({
          url: `/getAllStockFromUser/`, 
          type: 'GET',
          dataType: 'json',
          success: function(stocks) {
            console.log("Entrei na funcao inicializeUpdate")
              $.each(stocks, function(index, stock) {
                  updateStock(stock.id, stock.updateTime,stock.name);
              });
          },
          error: function(e) {
              console.error(`Erro ao receber ações ${e}`);
          }
      });
  }

  $(document).ready(function() {
    console.log("Entrei na funcao ready")
    inicializeUpdate();
  });
</script>
{% endif %}
</html>