{% load static %}
<link rel="stylesheet" href="{% static 'partial_styles/sidebar.css'%}">
<div class="sidebar">
  <div class="sidebar-title">Financial Analyzer</div>
  <nav class="nav-sidebar">
    <div class="nav-option-wrapper">
      <ion-icon name="home-outline"></ion-icon>
      <a href="{% url 'index' %}">Home</a>
    </div>
    {%if user.is_authenticated %}
      <div class="nav-option-wrapper">
        <ion-icon name="person-outline"></ion-icon>
        <a href="{% url 'account'%}">Minha conta</a>
      </div>
    {% endif %}
  </nav>
</div>