*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --sidebar-width:22.5rem;
}

body,button,input{
  font-family: 'Roboto';
}
 
#main-content{
  height: 100vh;
  position: relative;
  margin-left: var(--sidebar-width);
}

#table-wrapper{
  width: 100%;
  padding: 1rem;
  margin-inline: auto;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.responsive-table th {
  background-color: #f2f2f2;
}

.responsive-table tr:hover {
  background-color: #f5f5f5;
}

.responsive-table img {
  width: 20px;
  height: auto;
}

.icon-column {
  width: 1%;
}

.editor-settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.editor-settings h1 {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 5px 30px 5px 10px;
  background: #333;
  border: none;
  color: #fff;
}

.search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-container {
  display: flex;
}

.icon-container i {
  margin-left: 15px;
}

ion-icon {
  font-size: 2rem;
}

.ion-icon-link{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.ion-icon-link:hover,
.ion-icon-link:active,.ion-icon-link:visited{
color: black;
}