{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users_styles/login.css'%}">
    <title>Financial Analyzer</title>
</head>
<body>
    {% include 'partials/_sidebar.html' %}
    <div id="main-content">
        <div class="form-wrapper">
            <div class="form-header">
                <h1>Login</h1>
                <p>Faça seu login</p>
            </div>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                
                {% for field in form.visible_fields%}
                    <div class="field-wrapper">
                        <label for="{{field.label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <button type="submit" class="button-form-style">Faça seu login</button>
                {%for message in messages%}
                    <p style="color:red">{{message}}</p>
                {% endfor %}
            </form>
        </div>
    </div>
    </div>
</body>
</html>