{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'partials/_head_configs.html' %}
    <link rel="stylesheet" href="{% static 'users_styles/register.css'%}">
</head>
<body>

    {% include 'partials/_sidebar.html' %}
    {% include 'partials/_warning_modal.html' %}
    
    <div id="main-content">
        {% include 'partials/_header.html' %}
        <div class="form-wrapper">
            <div class="form-header">
                <h1>Cadastro</h1>
                <p>Faça seu cadastro para interagir com a plataforma.</p>
            </div>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields%}
                    <div class="field-wrapper">
                        <label for="{{field.label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <button type="submit" class="button-form-style">Registre-se</button>
            </form>
        </div>
    </div>
    {% include 'partials/_warning_modal.html' %}
</body>
</html>